.header-log-button {
    display: flex;
    align-items: center;
    margin: 0.7rem 1rem 0 0;
}

.header-confirm-button {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
