<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <h3>Pracownik</h3>
      <div>
        <table class="table table-striped" *ngIf="employee">
          <tr>
            <th>id</th>
            <td>{{ employee.id }}</td>
          </tr>
          <tr>
            <th>imię</th>
            <td>{{ employee.firstName }}</td>
          </tr>
          <tr>
            <th>nazwisko</th>
            <td>{{ employee.lastName }}</td>
          </tr>
          <tr>
            <th>pesel</th>
            <td>{{ employee.pesel }}</td>
          </tr>
          <tr>
            <th>data zatrudnienia</th>
            <td>{{ employee.employmentDate }}</td>
          </tr>
          <tr>
            <th>status</th>
            <td>{{ employee.status | employeeStatus }}</td>
          </tr>
          <tr>
            <th>rola i poziom</th>
            <td>
              <p *ngFor="let role of employee.roles | keyvalue">
                {{ role.value | employeeLevel }} {{ role.key | employeeRole }}
              </p>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="isProjectallocationsPresent()">
    <div class="col-xs-12">
      <h4>Przypisania</h4>

      <div>
        <table class="table table-striped">
          <tr>
            <th>id</th>
            <th>projekt</th>
            <th>data rozpoczęcia</th>
            <th>data zakończenia</th>
            <th>zaangażowanie procentowe</th>
            <th>zaangażowanie godzinowe</th>
            <th>poziom</th>
            <th>rola</th>
            <th>stawka</th>
          </tr>
          <tr *ngFor="let projectallocation of projectallocations">
            <td>{{ projectallocation.id }}</td>
            <td>
              <button
                pButton
                type="button"
                routerLink="/projects/project-show"
                [queryParams]="{ id: projectallocation.projectId }"
                class=" ui-button-primary"
                icon="pi pi-file"
                pTooltip="id: {{ projectallocation.projectId }}"
                tooltipPosition="right"
                tooltipEvent="hover"
              ></button>
            </td>
            <td>{{ projectallocation.startDate }}</td>
            <td>{{ projectallocation.endDate }}</td>
            <td>{{ projectallocation.percentileWorkload }}</td>
            <td>{{ projectallocation.hoursPerMonthWorkload }}</td>
            <td>{{ projectallocation.level | employeeLevel }}</td>
            <td>{{ projectallocation.role | employeeRole }}</td>
            <td>{{ projectallocation.rateMonthly }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">
      <div class="employee-show-employees-list-button">
        <button
          pButton
          type="button"
          routerLink="/employees"
          label="Pracownicy"
          class="ui-button-primary"
          icon="pi pi-list"
        ></button>
      </div>
    </div>
  </div>
</div>
