.employee-save-role-level-input {
  display: grid;
  grid-template-columns: 40% 10% 50%;
}

.employee-save-employment-date-status-input {
  display: grid;
  grid-template-columns: 40% 10% 50%;
}

.employee-save-confirm-button {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.employee-save-delete-role-button {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.employee-save-save-cancel-buttons {
  display: flex;
  margin-top: 3rem;
}

.employee-save-save-cancel-single-button {
  margin: 0.5rem 0.5rem 0.5rem 0;
}

.employee-save-delete-role-button-hidden {
  display: none;
}

.employee-save-validation-error-info {
  color: red;
  font-size: smaller;
}

.employee-save-add-role-button {
  margin-top: 3rem;
}

input.ng-valid.ng-dirty {
  border-left: 5px solid green;
  background: lightgreen;
}

input.ng-invalid.ng-dirty {
  border-left: 5px solid darkred;
  background: lightpink;
}

