.client-save-validation-error-info {
  color: red;
  font-size: smaller;
}

.client-save-confirm-button {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.client-save-choose-key-account {
  display: flex;
}

.client-save-save-cancel-single-button {
  margin: 0.5rem 0.5rem 0.5rem 0;
}

.client-save-save-cancel-buttons {
  display: flex;
  margin-top: 3rem;
}

input.ng-valid.ng-dirty {
  border-left: 5px solid green;
  background: lightgreen;
}

input.ng-invalid.ng-dirty {
  border-left: 5px solid darkred;
  background: lightpink;
}

