<div class="container employee-key-account-page">
  <div class="row">
    <div class="col-xs-12" *ngIf="employeeResponse">
      <h3>Pracownicy</h3>

      <div>
        <table class="table table-striped table-bordered employee-key-account-table">
          <thead>
            <tr>
              <th>
                <div
                  class="employee-key-account-sort-header"
                  (click)="onSort('ID')"
                >
                  <div *ngIf="isActualSort('ID', false)">
                    <i class="pi pi-caret-up"></i>
                  </div>
                  <div *ngIf="isActualSort('ID', true)">
                    <i class="pi pi-caret-down"></i>
                  </div>
                  <div>id</div>
                </div>
              </th>
              <th>
                <div
                  class="employee-key-account-sort-header"
                  (click)="onSort('FIRST_NAME')"
                >
                  <div *ngIf="isActualSort('FIRST_NAME', false)">
                    <i class="pi pi-caret-up"></i>
                  </div>
                  <div *ngIf="isActualSort('FIRST_NAME', true)">
                    <i class="pi pi-caret-down"></i>
                  </div>
                  <div>imię</div>
                </div>
              </th>
              <th>
                <div
                  class="employee-key-account-sort-header"
                  (click)="onSort('LAST_NAME')"
                >
                  <div *ngIf="isActualSort('LAST_NAME', false)">
                    <i class="pi pi-caret-up"></i>
                  </div>
                  <div *ngIf="isActualSort('LAST_NAME', true)">
                    <i class="pi pi-caret-down"></i>
                  </div>
                  <div>nazwisko</div>
                </div>
              </th>
              <th><div>status</div></th>
              <th>
                <div
                  class="employee-key-account-sort-header"
                  (click)="onSort('EMPLOYMENT_DATE')"
                >
                  <div *ngIf="isActualSort('EMPLOYMENT_DATE', false)">
                    <i class="pi pi-caret-up"></i>
                  </div>
                  <div *ngIf="isActualSort('EMPLOYMENT_DATE', true)">
                    <i class="pi pi-caret-down"></i>
                  </div>
                  <div>data zatrudnienia</div>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employee of employeeResponse.data">
              <td>{{ employee.id }}</td>
              <td>{{ employee.firstName }}</td>
              <td>{{ employee.lastName }}</td>
              <td>{{ employee.status | employeeStatus }}</td>
              <td>{{ employee.employmentDate }}</td>
              <td>
                <button
                  pButton
                  type="button"
                  (click)="onSelectEmployee(employee)"
                  icon="pi pi-check"
                  class="ui-button-primary"
                ></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="employee-key-account-paginator">
        <p-paginator
          [rows]="actualElementsPerPage"
          [pageLinkSize]="10"
          [totalRecords]="employeeResponse.total"
          [rowsPerPageOptions]="elementsPerPage"
          (onPageChange)="onPageChange($event)"
        ></p-paginator>
      </div>
    </div>
  </div>
</div>
