<div class="row">
  <div class="col-xs-12" *ngIf="projectallocationsResponse">
    <h3>Przypisania projektów</h3>

    <div>
      <table
        class="table table-striped table-bordered projectallocation-list-table"
      >
        <thead>
          <tr>
            <th>
              <div>
                <p-checkbox
                  name="groupname"
                  [binary]="true"
                  (onChange)="onCheckAll()"
                  [ngModel]="checkedAll"
                ></p-checkbox>
              </div>
            </th>
            <th>
              <div
                class="projectallocation-list-sort-header"
                (click)="onSort('ID')"
              >
              <div *ngIf="isActualSort('ID', false)">
                <i class="pi pi-caret-up"></i>
              </div>
                <div *ngIf="isActualSort('ID', true)">
                  <i class="pi pi-caret-down"></i>
                </div>
                <div>id</div>
              </div>
            </th>
            <th>
              <div
                class="projectallocation-list-sort-header"
                (click)="onSort('PROJECT')"
              >
                <div *ngIf="isActualSort('PROJECT', false)">
                  <i class="pi pi-caret-up"></i>
                </div>
                <div *ngIf="isActualSort('PROJECT', true)">
                  <i class="pi pi-caret-down"></i>
                </div>
                <div>projekt</div>
              </div>
            </th>
            <th>
              <div
                class="projectallocation-list-sort-header"
                (click)="onSort('EMPLOYEE')"
              >
                <div *ngIf="isActualSort('EMPLOYEE', false)">
                  <i class="pi pi-caret-up"></i>
                </div>
                <div *ngIf="isActualSort('EMPLOYEE', true)">
                  <i class="pi pi-caret-down"></i>
                </div>
                <div>pracownik</div>
              </div>
            </th>
            <th>
              <div
                class="projectallocation-list-sort-header"
                (click)="onSort('START_DATE')"
              >
                <div *ngIf="isActualSort('START_DATE', false)">
                  <i class="pi pi-caret-up"></i>
                </div>
                <div *ngIf="isActualSort('START_DATE', true)">
                  <i class="pi pi-caret-down"></i>
                </div>
                <div>data rozpoczęcia</div>
              </div>
            </th>
            <th>
              <div
                class="projectallocation-list-sort-header"
                (click)="onSort('END_DATE')"
              >
                <div *ngIf="isActualSort('END_DATE', false)">
                  <i class="pi pi-caret-up"></i>
                </div>
                <div *ngIf="isActualSort('END_DATE', true)">
                  <i class="pi pi-caret-down"></i>
                </div>
                <div>data zakończenia</div>
              </div>
            </th>
            <th><div>zaangażowanie</div></th>
            <th><div>rola i poziom</div></th>
            <th>
              <div
                class="projectallocation-list-sort-header"
                (click)="onSort('RATE_MONTHLY')"
              >
                <div *ngIf="isActualSort('RATE_MONTHLY', false)">
                  <i class="pi pi-caret-up"></i>
                </div>
                <div *ngIf="isActualSort('RATE_MONTHLY', true)">
                  <i class="pi pi-caret-down"></i>
                </div>
                <div>stawka miesięczna</div>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let projectallocation of projectallocationsResponse.data">
            <td>
              <p-checkbox
                name="groupname"
                (onChange)="onCheck()"
                [value]="projectallocation.id"
                [(ngModel)]="checked"
              ></p-checkbox>
            </td>
            <td>{{ projectallocation.id }}</td>
            <td>
              <button
                pButton
                type="button"
                routerLink="/projects/project-show"
                [queryParams]="{ id: projectallocation.projectId }"
                class=" ui-button-primary"
                icon="pi pi-file"
                pTooltip="id: {{ projectallocation.projectId }}"
                tooltipPosition="left"
                tooltipEvent="hover"
              ></button>
            </td>
            <td>
              <button
                pButton
                type="button"
                routerLink="/employees/employee-show"
                [queryParams]="{ id: projectallocation.employeeId }"
                class=" ui-button-primary"
                icon="pi pi-user"
                pTooltip="id: {{ projectallocation.employeeId }}"
                tooltipPosition="right"
                tooltipEvent="hover"
              ></button>
            </td>
            <td>{{ projectallocation.startDate }}</td>
            <td>{{ projectallocation.endDate }}</td>
            <td *ngIf="projectallocation.percentileWorkload">
              {{ projectallocation.percentileWorkload }}%
            </td>
            <td *ngIf="projectallocation.hoursPerMonthWorkload">
              {{ projectallocation.hoursPerMonthWorkload }}h
            </td>
            <td>
              {{ projectallocation.level | employeeLevel }}
              {{ projectallocation.role | employeeRole }}
            </td>
            <td>{{ projectallocation.rateMonthly }}</td>
            <td>
              <button
                pButton
                type="button"
                routerLink="projectallocation-update"
                [queryParams]="{ id: projectallocation.id }"
                label="Zmień"
                icon="pi pi-pencil"
                class="ui-button-raised ui-button-primary"
              ></button>
            </td>
            <td>
              <button
                pButton
                type="button"
                routerLink="projectallocation-show"
                [queryParams]="{ id: projectallocation.id }"
                label="Szczegóły"
                icon="pi pi-info"
                class="ui-button-raised ui-button-primary"
              ></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="projectallocation-list-add-delete-refresh-buttons ">
      <div class="projectallocation-list-add-delete-refresh-single-button">
        <button
          pButton
          type="button"
          routerLink="projectallocation-save"
          label="Dodaj"
          icon="pi pi-plus"
          class="ui-button-raised ui-button-success "
        ></button>
      </div>
      <div class="projectallocation-list-add-delete-refresh-single-button">
        <button
          pButton
          type="button"
          (click)="onDelete()"
          label="Usuń"
          icon="pi pi-minus"
          class="ui-button-raised ui-button-danger"
          [disabled]="isDeleteDisabled()"
        ></button>
      </div>
      <div class="projectallocation-list-add-delete-refresh-single-button">
        <button
          pButton
          type="button"
          (click)="onReload()"
          label="Odśwież"
          icon="pi pi-refresh"
          class="ui-button-raised ui-button-primary"
        ></button>
      </div>
    </div>

    <div class="projectallocation-list-paginator">
      <p-paginator
        [rows]="actualElementsPerPage"
        [pageLinkSize]="10"
        [totalRecords]="projectallocationsResponse.total"
        [rowsPerPageOptions]="elementsPerPage"
        (onPageChange)="onPageChange($event)"
      ></p-paginator>
    </div>
  </div>
</div>
